<fieldset>
  <legend>Add Links</legend>
  <form action="/links" method="POST">
    <label>Name: <input id="field" type="text" name="name"></label>
    <label>URL: <input id="field" type="text" name="url"></label>
    <label>Description: <input id="field" type="text" name="description"></label>
    <input type="submit" name="Add">
  </form>
</fieldset>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Description</th>
  </tr>

  <% if @results.length > 0 %>
    <% @tablerows = @results.map do |row| %>
      <tr>
        <td><%= row[1] %></td>
        <td><a href="/links/<%= row[0] %>"><%= row[2] %></a></td>
        <td><%= row[3] %></td>
      </tr>
    <% end %>
  
    <% @tablerows.join %>  
  
  <% else %>
    There are no records to show.
  <% end %>
</table>